RewriteEngine On

# Error Pages
ErrorDocument 401 /not-found.html
ErrorDocument 403 /not-found.html
ErrorDocument 404 /not-found.html
ErrorDocument 500 /not-found.html

# Prevent directory browsing
Options -Indexes +FollowSymLinks -MultiViews

# Canonical host
#RewriteCond %{HTTP_HOST}    ^www\.(.*)      [NC]
#RewriteRule ^(.*)$          http://%1/$1    [L,R,NE]

# Front End
RewriteRule ^$ 		/index.php?section=1&logo=1


RewriteRule ^experiences/$ 				/experiences.php?section=19
RewriteRule ^destinations/$ 				/destinations.php?section=19
RewriteRule ^extras/$ 				/extras.php?section=19
RewriteRule ^about-us/$ 				/about-us.php?section=19
RewriteRule ^contact/$ 				/contact.php?section=19


















