RewriteEngine On

# Error Pages
ErrorDocument 401 /not-found.html
ErrorDocument 403 /not-found.html
ErrorDocument 404 /not-found.html
ErrorDocument 500 /not-found.html

# Prevent directory browsing
Options -Indexes +FollowSymLinks -MultiViews

# Canonical host
#RewriteCond %{HTTP_HOST}    ^www\.(.*)      [NC]
#RewriteRule ^(.*)$          http://%1/$1    [L,R,NE]

# Front End
RewriteRule ^$ 		/index.php?section=1&logo=1

RewriteRule ^espacios/$ 						/espacios.php?section=19
RewriteRule ^aliados-y-donantes/$				/aliados.php?section=19
RewriteRule ^directorio/$ 						/directorio.php?section=19
RewriteRule ^causas/$ 							/all-causas.php?section=19
RewriteRule ^nosotros/$ 						/nosotros.php?section=19
RewriteRule ^que-hacemos/$ 						/que-hacemos.php?section=19
RewriteRule ^proyectos/$ 						/proyectos.php?section=19
RewriteRule ^actividades/$ 						/actividades.php?section=19
RewriteRule ^campanas/$ 						/campanas.php?section=19
RewriteRule ^materiales/$ 						/materiales.php?section=19
RewriteRule ^todos-los-espacios/$ 				/all-espacios.php?section=19
RewriteRule ^logros/$ 							/logros.php?section=19
RewriteRule ^noticias/$ 						/noticias.php?section=19
RewriteRule ^contacto/$ 						/contacto.php?section=19
RewriteRule ^registrarte/$ 						/registro.php?section=19
RewriteRule ^voluntariado/$ 					/voluntariado.php?section=19
RewriteRule ^servicio-social/$ 					/servicio-social.php?section=19
RewriteRule ^practicas/$ 						/practicas.php?section=19
RewriteRule ^donativos/$ 						/donativos.php?section=19
RewriteRule ^que-puedes-aportar/$ 				/aportaciones.php?section=19
RewriteRule ^voluntariado-por-un-dia/$ 			/voluntariado-dia.php?section=19
RewriteRule ^voluntariado-corporativo/$ 					/experiencia-360.php?section=19
RewriteRule ^embajadores/$ 						/embajadores.php?section=19
RewriteRule ^quiero-ayudar/$ 					/quiero-ayudar.php?section=19
RewriteRule ^productos/$ 						/productos.php?section=19
RewriteRule ^aviso-de-privacidad/$ 				/aviso.php?section=19


RewriteRule ^causas/([0-9]+)/([A-Za-z0-9-]+)/$ 			/causas.php?section=3&sectionId=$1
RewriteRule ^espacios/([0-9]+)/([A-Za-z0-9-]+)/$ 		/espacios.php?section=2&logo=1&sectionId=$1
RewriteRule ^noticia/([0-9]+)/([A-Za-z0-9-]+)/$ 		/noticia.php?section=4&sectionId=$1

RewriteRule ^proyecto/([0-9]+)/([A-Za-z0-9-]+)/$ 		/proyecto.php?section=4&sectionId=$1
RewriteRule ^actividad/([0-9]+)/([A-Za-z0-9-]+)/$ 		/actividad.php?section=4&sectionId=$1
RewriteRule ^campana/([0-9]+)/([A-Za-z0-9-]+)/$ 		/campana.php?section=4&sectionId=$1
RewriteRule ^material/([0-9]+)/([A-Za-z0-9-]+)/$ 		/material.php?section=4&sectionId=$1
RewriteRule ^contenidos/([0-9]+)/([A-Za-z0-9-]+)/$ 		/contenido.php?section=4&sectionId=$1
RewriteRule ^voluntariado-item/([0-9]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ 	/voluntariado-item.php?section=4&sectionId=$1&kind=$3
RewriteRule ^embajador/([0-9]+)/([A-Za-z0-9-]+)/$ 		/embajador.php?section=4&sectionId=$1
RewriteRule ^noticias/todas/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ 		/noticias.php?section=4&from=$1&to=$2
RewriteRule ^actividades/todas/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ 		/actividades.php?section=4&from=$1&to=$2
RewriteRule ^actividades/voluntariado/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ 		/actividades.php?section=4&from=$1&to=$2&kind=voluntariado
RewriteRule ^producto/([0-9]+)/([A-Za-z0-9-]+)/$ 		/producto.php?section=4&sectionId=$1


















